#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. MatPlotlib
4. Sci-kit learn

|Data Science Tools |
|:------------------:|
| Jupyter Notebook   |
| Spyder             |
| RStudio            |

###Below are a few examples of evaluating arithmetic expressions in Python:

 This a simple arithmetic expression to multiply  then add integers.

In [6]:
(3*4)+5

17

#This will convert 200 minutes to hours by diving by 60.

In [9]:
200//60

3

**Objective:**

* DatacScience Tools
* List popular languages for Data Science
* Airthemetic equation

##Author
Sabnam